body {
    font-family: Arial, sans-serif;
    background-color: white; /* White background */
    margin: 0;
    padding: 0;
    color: black; /* Black text */
    background-image: url('../images/backgroundcontact.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.container {
    max-width: 350px;
    margin: 200px auto;
    background-color: white; /* background */
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    align-items: center;
}

.container input {
    padding: 10px;
    margin-bottom: 15px;
    font-size: 14px;
    border: 1px solid #333; /* border */
    border-radius: 10px;
}

.container textarea {
    padding: 10px;
    margin: 10px auto;
}

.container > form > button {
    margin: 30px auto;
    padding: 10px 30px;
    display: flex;
}

button {
    padding: 10px;
    font-size: 15px;
    margin: 20px auto;
    background-color: #333; /* background */
    color: white; /* text */
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

h1.title{
    margin-bottom: 50px;
    margin-top: 0px;
    text-align: center;
    color: #333; /* text */
}

label {
    margin-bottom: 5px;
    font-size: 14px;
    color: #333; 
}

form {
    display: flex;
    flex-direction: column;
}

.nav {
    background-image: url('../images/logo.png');
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    font-size: 15px;
    margin-top: 0px;
    background-color: white;
    color: #333;
    list-style: none;
    text-align: right;
    padding: 26px 0 10px 0;
}

.nav li {
    display: inline-block;
    padding-right: 50px;
    color: #ffffff;
}

.nav button {
    padding: 10px;
    font-size: 15px;
    margin-top: 5px;
    background-color: #333; /* background */
    color: white; /* text */
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}