body {
    font-family: Arial, sans-serif;
    background-color: white; /* White background */
    margin: 0;
    padding: 0;
    color: black; /* Black text */
    background-image: url('../images/backgroundfines.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.nav {
    background-image: url('../images/logo.png');
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    font-size: 15px;
    margin-top: 0px;
    background-color: white;
    color: #333;
    list-style: none;
    text-align: right;
    padding: 25px 0 29px 0;
}

.nav li {
    display: inline-block;
    padding-right: 50px;
    color: #ffffff;
}

.nav button {
    padding: 10px;
    font-size: 15px;
    margin-top: 5px;
    background-color: #333; /* background */
    color: white; /* text */
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.nav button:hover {
    background-color: #808080;
}

.container {
    max-width: 800px;
    margin: 150px auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}

.container h2 {
    margin-bottom: 40px;
    margin-top: 0px;
    text-align: center;
    color: #000000; /* Gold text */
}

.container p {
    text-align: justify;
    color: #333; /* Darker black */
}

.container label {
    margin-bottom: 5px;
    font-size: 14px;
    color: #333; 
}

.container select{
    padding: 8px 17px;
    margin-bottom: 20px;
    font-size: 14px;
    border: 1px solid #333; /* border */
    border-radius: 10px;
}

.container input {
    padding: 10px;
    margin-bottom: 20px;
    font-size: 14px;
    border: 1px solid #333; /* border */
    border-radius: 10px;
}

.container .damage-instance {
    margin-bottom: 15px;
}

.container ul {
    list-style-type: none;
    padding: 0;
}

.container li {
    margin-bottom: 10px;
}

.container button {
    display: block;
    padding: 10px;
    font-size: 14px;
    margin: 20px auto;
    background-color: #333; /* background */
    color: white; /* text */
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.container button:hover {
    background-color: #808080; /* Slightly darker black on hover */
}

.container #totalFines {
    font-weight: bold;
    color: #555; /* Darker black */
}