body {
    font-family: Arial, sans-serif;
    background-color: white; /* White background */
    margin: 0;
    padding: 0;
    color: black; /* Black text */
    background-image: url('../images/backgroundindexCustomer.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.nav {
    background-image: url('../images/logo.png');
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    font-size: 15px;
    margin-top: 0px;
    background-color: white;
    color: #333;
    list-style: none;
    text-align: right;
    padding: 26px 0 29px 0;
}

.nav > li {
    display: inline-block;
    padding-right: 50px;
    color: #ffffff;
}

.nav > li > a:hover {
    color: #808080;
}

.container {
    max-width: 800px;
    margin: 250px auto;
    background-color: white; /* background */
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-bottom: 40px;
    text-align: center;
    color: #333; /* text */
}

p {
    text-align: justify;
    color: #333; 
}


button {
    padding: 10px;
    font-size: 15px;
    margin-top: 5px;
    background-color: #333; /* background */
    color: white; /* text */
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #555; /* hover */
}