body {
    font-family: Arial, sans-serif;
    background-color: white; /* White background */
    margin: 0;
    padding: 0;
    color: black; /* Black text */
    background-image: url('../images/backgroundinventory.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.container {
    max-width: 800px;
    margin: 150px auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 40px;
    margin-top: 0px;
    text-align: center;
    color: #000000;
}

.nav {
    background-image: url('../images/logo.png');
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    font-size: 15px;
    margin-top: 0px;
    background-color: white;
    color: #333;
    list-style: none;
    text-align: right;
    padding: 25px 0 29px 0;
}

.nav li {
    display: inline-block;
    padding-right: 50px;
    color: #ffffff;
}

.nav button {
    padding: 10px;
    font-size: 15px;
    margin-top: 5px;
    background-color: #333; /* background */
    color: white; /* text */
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.nav button:hover {
    background-color: #808080;
}

.filter-form {
    display: none;
}

.filter-toggle {
    display: block;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 40px;
}

.filter-toggle:hover {
    background-color: #555;
}

.filter-form label,
.filter-form button,
.filter-form select {
    display: block;
}

.filter-form label {
    margin-bottom: 5px;
    font-size: 14px;
    color: #333; 
}

.filter-form select {
    padding: 8px 15px;
    margin-bottom: 20px;
    font-size: 14px;
    border: 1px solid #333; /* border */
    border-radius: 10px;
}

.filter-form input {
    padding: 10px;
    margin-bottom: 20px;
    font-size: 14px;
    border: 1px solid #333; /* border */
    border-radius: 10px;
}

.filter-form button {
    padding: 10px;
    font-size: 14px;
    margin: 10px auto;
    background-color: #333; /* background */
    color: white; /* text */
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

/* Selects buttons with the 'rent-button' class */
.rent-button {
    /* Changes the shape of the button */
    border-radius: 10px; /* Rounded corners */

    /* Sets the font and its properties */
    font-family: Arial, sans-serif; /* Font family */
    font-size: 14px; /* Font size in pixels */

    /* Sets the size of the button */
    padding: 10px 20px; /* Padding for vertical and horizontal space inside the button */
    margin: 10px;
    /* Other potential styling */
    background-color: #000000; /* Background color */
    color: white; /* Text color */
    border: none; /* Remove default border */
    cursor: pointer; /* Show pointer cursor on hover */
    transition: background-color 0.3s ease; /* Animation for color change */
}

/* Optional: Add hover effects for better user interaction */
.rent-button:hover {
    background-color: #333; /* Darker blue on hover */
}

/* Selects buttons with the 'maintenance-button' class */
.maintenance-button {
    /* Changes the shape of the button */
    border-radius: 10px; /* Rounded corners */

    /* Sets the font and its properties */
    font-family: Arial, sans-serif; /* Font family */
    font-size: 14px; /* Font size in pixels */

    /* Sets the size of the button */
    padding: 10px 20px; /* Padding for vertical and horizontal space inside the button */
    margin: 10px;
    /* Other potential styling */
    background-color: #000000; /* Background color */
    color: white; /* Text color */
    border: none; /* Remove default border */
    cursor: pointer; /* Show pointer cursor on hover */
    transition: background-color 0.3s ease; /* Animation for color change */
}

/* Optional: Add hover effects for better user interaction */
.maintenance-button:hover {
    background-color: #333; /* Darker blue on hover */
}

/* Selects buttons with the 'exit-maintenance-button' class */
.exit-maintenance-button {
    /* Changes the shape of the button */
    border-radius: 10px; /* Rounded corners */

    /* Sets the font and its properties */
    font-family: Arial, sans-serif; /* Font family */
    font-size: 14px; /* Font size in pixels */

    /* Sets the size of the button */
    padding: 10px 20px; /* Padding for vertical and horizontal space inside the button */
    margin: 10px;
    /* Other potential styling */
    background-color: #000000; /* Background color */
    color: white; /* Text color */
    border: none; /* Remove default border */
    cursor: pointer; /* Show pointer cursor on hover */
    transition: background-color 0.3s ease; /* Animation for color change */
}

/* Optional: Add hover effects for better user interaction */
.exit-maintenance-button:hover {
    background-color: #333; /* Darker blue on hover */
}

#searchResults {
    margin-top: 20px;
    padding: 10px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#searchResults h2 {
    color: #333;
    font-size: 18px;
    margin-top: 0px;
    text-align: center;
}

#searchResults ul {
    list-style-type: none;
    padding: 0;
}

#searchResults li {
    margin-bottom: 10px;
    color: #555;
}